<launch>
  <node name="trader" pkg="new_zealand" type="trader_node" output="screen">
    <param name="lighthouse" value="0xddC8b7F57a8D59AF88C26ea1dd552f965dE1a8A0" />
    <param name="model" value="QmfGz7MzHg4dsbrZktcNEsMm936D4bZMD2TuqgQpgmv4TC" />
    <param name="token" value="0x7dE91B204C1C737bcEe6F000AAA6569Cf7061cb7" />
    <param name="order_lifetime" value="100" />
  </node>
</launch>
